<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="row" th:fragment="cardBranch">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title" th:text="${branch.name}"></span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">Editar</a>
                <a href="#">Desactivar</a>
                <a href="#">Eliminar</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>